.container
{
    text-align: center;
}
.myform
{
    width: 40%;
    margin: auto;
    margin-top: 6%;
    padding: 2% 3% 2% 3%;
}

.mainContainer
{
    margin:auto;
    margin-top: 2%;
    width: 95%;
}

.cartItem
{
    margin-bottom: 2%;
}

.txtCenter
{
    margin: 0;
    position: absolute;
    top: 50%;
    color:#1976d2;
    left: 50%;
    font-size:3rem;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.quantityCounter
{
    margin-left: 1rem;
    margin-right: 1rem;
    font-size:20px;
}

.successOrder
{
    width: 80%;
    margin: auto;
    margin-top: 6%;
    padding: 2% 3% 2% 3%;
    color:green;
}